.admin__home-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 1rem;
  height: 100%;
}

.admin__home-container {
  border-radius: 5px;
  background-color: #fefefe;
  padding: 1rem 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* .admin__home-wrapper > div {
  border-radius: 5px;
  background-color: #fefefe;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
} */
