.forgot {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  background: url("../assets/white_bg.png");
  /* background-color: #ddd; */
  background-position: bottom;
  background-repeat: repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgot_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 3rem 2rem;
    width: 60%;
    /* flex-direction: row; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: #ffffff;
}


/* For Mobile View (max-width: 450px) */
@media screen and (max-width: 450px) {
    .forgot_container {
        height: auto;
        /* Adjust height as needed */
        max-width: 90%;
        /* Adjust the maximum width of the container */
    }

    .forgot_glass {
        border-radius: 6px;
        min-width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
    }

    .forgot_heading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .forgot_subheading {
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 90%;
    }
    .forgot_input_box{
        width: 100%;
    }
    .forgot_textbox {
        width: 100%;
    }

    .forgot_trigger_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    /* Add more responsive adjustments as needed */
}