.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #f6f5ff;
  z-index: 100;
  transition: all 0.5s ease;
  color: #1F3A5F;
  font-weight: 500;
  border: none;
  outline: none;
  border-right: 2px solid #ddd;
}
.sidebar.close {
  width: 5rem;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
/* icon */

.sidebar .logo-details i {
  font-weight: 500;
  font-size: 30px;
  color: #707070;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}


.sidebar .logo-details .logo_name {
  font-weight: 500;
  font-size: 22px;
  color: #1F3A5F;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar .logo-details .logo_name .light{
  font-weight: 500;
  font-size: 22px;
  color: #695cfe;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}



.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  font-weight: 500;
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}


.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: white;
  color: white!;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar.close .nav-links:hover {
  color: #fff;
}
.sidebar .nav-links li i {
  font-weight: 500;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #707070;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 600;
  color: #707070;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover {
  color: #fff;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.85);
  height: 400px;
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f5ff;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #e4e9f7;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #e4e9f7;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}



.home-section {
  position: relative;
  /* background: #f6f5ff; */
  background: rgba(255, 255, 255, 0.85);
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}
