.publish__course-general-info {
    display: flex;
    margin: 0 auto;
}

.content__card-one {
    flex: 1.5;
    padding: 1rem 0 1rem 2rem;
}

.content__card-two,
.content__card-three,
.content__card-four {
    flex: 1.2;
    padding: 1rem 0 1rem 2rem;
}

.publish__course-table-row {
    line-height: 2rem;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    border-collapse: collapse;
}

.general-info__heading {
    padding-right: 2rem;
}

.publish__course-detailed-info{
    margin-top: 2rem;
}

.publish__course-detailed-info__cards{
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: row;
}

.publish__course-detailed-content__card-one{
    flex: 1.5;
}
.publish__course-detailed-content__card-two{
    flex: 1;
    margin: auto 0;
}

.detailed-info__heading,
.detailed-info__text{
    font-size: 1.2rem;
    padding: 0.4rem;
}