.reset {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  background: url("../assets/white_bg.png");
  /* background-color: whitesmoke; */
  background-position: bottom;
  background-repeat: repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reset_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 3rem 2rem;
  width: 60%;
  /* flex-direction: row; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: #ffffff;
}

.reset_success_message {
  color: green;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

/* For Mobile View (max-width: 450px) */
@media screen and (max-width: 450px) {
  .reset_container {
    height: auto;
    /* Adjust height as needed */
    max-width: 90%;
    /* Adjust the maximum width of the container */
  }

  .reset_glass {
    border-radius: 6px;
    min-width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
  }

  .reset_heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .reset_subheading {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  .reset_password_input {
    width: 100%;
  }

  /* .reset_textbox
    {
        width: 100%;
    } */

  .reset_trigger_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* Add more responsive adjustments as needed */
}
